<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>TESTINGGGG</h1>

<section id="blogs" class="container">

    {{#each blogs}}
    
       <!-- Meet up API Examples -->
<div class="blog">
  <div class="row">
     <div class="col-md-6">
        <h2>Title:</h2>
        </div>
    <div class="col-md-6">
        <p>{{bookTitle}}</p>
        </div>
 </div>
  <div class="row">
     <div class="col-md-6">
         <h3>Author:</h3>
        </div>

     <div class="col-md-6">
         <p>{{bookAuthor}}</p>
         </div>
     </div>



  <div class="row">
     <div class="col-md-6">
      <h3>Genre:</h3> 
        </div>

     <div class="col-md-6">
            <p>{{genre}}</p> 
        </div>
        </div>


  <div class="row">
     <div class="col-md-6">
    <h3>Reading Level:</h3> 
        </div>
    
     <div class="col-md-6">
        <p>{{readingLevel}}</p>
        </div>
        </div>



  <div class="row innerBlog">
         <div class="col-md-12">

     <h2>{{firstName}} {{lastName}}</h2>
        
    </div>
 </div>



  <div class="row">
     <div class="col-md-12">
    <p>Test here {{blogging}}</p>
    
</div>
</div>

    {{else}}
    <p>Blogging has paused</p>
    {{/each}}
</section>

<!-- Footer -->
<footer class="bg-black small text-center">
<div class="container">
<div class="row">
<p>Designed By:</p>
</div>
<div class="row">
<div class="col-md-3">
<a target="_blank" href="https://github.com/Sinuhem23/">
Sinuhe Montero
</a>
</div>
<div class="col-md-3">
<a target="_blank" href="https://github.com/Sinuhem23/">
Gavin Martin
</a>
</div>
<div class="col-md-3">
<a target="_blank" href="https://github.com/ybuchi">
Yannik Buchi
</a>
</div>
<div class="col-md-3">
<a target="_blank" href="https://github.com/Sinuhem23/">
Veger Pena
</a>
</div>
</div>
</div>

</footer>

