<section id="blogs" class="container">
   <br>
   <br>
   <br>
   <br>
   <div class="card">
      <h5 class="card-header"></h5>
      <div class="card-body">
         <h5 class="card-title">Special title treatment</h5>
         <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <a href="#" class="btn btn-warning">Submit</a>
      </div>
   </div>

   {{#each blogs}}

   <!-- Meet up API Examples -->
   <div class="container blogContHB">
      <div class="innerBlog">
      <h2 class="row nameUnderLine">{{firstName}} {{lastName}}</h2>
      <p class="row">"{{bookTitle}}"</p>
      <p class="row">By: {{bookAuthor}}</p>
      <p class="row">{{readingLevel}} | {{genre}}</p>
      <div class="container bloggingBox">
         <p>{{blogging}}</p>
         </div>
      </div>

   </div>

      {{else}}
      <p>Blogging has paused</p>
      {{/each}}
</section>

<!-- Footer -->
<footer class="bg-black small text-center">
   <div class="container">
      <div class="row">
         <p>Designed By:</p>
      </div>
      <div class="row">
         <div class="col-md-3">
            <a target="_blank" href="https://github.com/Sinuhem23/">
               Sinuhe Montero
            </a>
         </div>
         <div class="col-md-3">
            <a target="_blank" href="https://github.com/Sinuhem23/">
               Gavin Martin
            </a>
         </div>
         <div class="col-md-3">
            <a target="_blank" href="https://github.com/ybuchi">
               Yannik Buchi
            </a>
         </div>
         <div class="col-md-3">
            <a target="_blank" href="https://github.com/Sinuhem23/">
               Veger Pena
            </a>
         </div>
      </div>
   </div>

</footer>